.interiores-bg {
  background-color: var(--cor-4);
}

.interiores-container {
  max-width: 1800px;
  padding-bottom: 80px;
}

.interiores-conteudo {
  position: relative;
}

.interiores-conteudo span {
  display: inline-block;
  font-size: 5.5rem;
  font-weight: 100;
  padding: 8px 160px;
  background-color: #dbdbdb;
  color: rgb(247, 251, 255);
  position: absolute;
  left: 28%;
  top: 50%;
  z-index: 9998;
}

.interiores-lista {
  height: 950px;
  padding-top: 80px;
  display: flex;
  gap: 40px;
  position: relative;
}

.interiores-conteudo img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 12px;
}

#interiores-img1 {
  position: absolute;
  top: 300px;
  left: 120px;
  z-index: 5999;
}

#interiores-img2 {
  position: absolute;
  top: 80px;
  left: 360px;
  z-index: 5998;
}

#interiores-img3 {
  position: absolute;
  top: 370px;
  left: 720px;
  z-index: 5997;
}

#interiores-img4 {
  position: absolute;
  top: 100px;
  left: 1000px;
  z-index: 9997;
  max-width: 390px;
}

@media (max-width: 1445px) {
  .interiores-conteudo img {
    max-width: 420px;
  }

  .interiores-lista {
    height: 900px;
  }

  #interiores-img1 {
    position: absolute;
    top: 300px;
    left: 80px;
    z-index: 5999;
  }

  #interiores-img2 {
    position: absolute;
    top: 80px;
    left: 180px;
    z-index: 5998;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 520px;
    z-index: 5997;
  }

  #interiores-img4 {
    position: absolute;
    top: 100px;
    left: 800px;
    z-index: 9997;
    max-width: 390px;
  }
}

@media (max-width: 1230px) {
  .interiores-conteudo span {
    left: 24%;
    top: 40%;
    font-size: 4rem;
  }

  .interiores-lista{
    height: 800px;
  }
  

  .interiores-conteudo img {
    max-width: 360px;
  }

  #interiores-img4 {
    position: absolute;
    top: 100px;
    left: 640px;
    z-index: 9997;
    max-width: 340px;
  }
}

@media (max-width: 1070px) {
  .interiores-conteudo img {
    max-width: 320px;
  }

  .interiores-lista{
    height: 750px;
  }

  #interiores-img4 {
    position: absolute;
    top: 100px;
    left: 580px;
    z-index: 9997;
    max-width: 290px;
  }
}

@media (max-width: 930px) {
  .interiores-conteudo span {
    left: 15%;
    top: 40%;
    font-size: 3.5rem;
    padding: 8px 140px;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 380px;
    z-index: 5997;
  }

  #interiores-img4 {
    display: none;
  }
}

@media (max-width: 750px) {
  .interiores-conteudo span {
    left: 15%;
    top: 40%;
    font-size: 3.5rem;
    padding: 8px 100px;
  }

  .interiores-conteudo img {
    max-width: 320px;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 240px;
    z-index: 5997;
  }
}

@media (max-width: 640px) {
  .interiores-conteudo img {
    max-width: 280px;
  }

  .interiores-lista{
    height: 700px;
  }
}

@media (max-width: 565px) {
  .interiores-conteudo span {
    left: 10%;
    top: 40%;
    font-size: 3.5rem;
    padding: 8px 80px;
  }

  .interiores-lista{
    height: 670px;
  }

  .interiores-conteudo img {
    max-width: 280px;
  }
  #interiores-img1 {
    position: absolute;
    top: 300px;
    left: 80px;
    z-index: 5999;
  }

  #interiores-img2 {
    position: absolute;
    top: 80px;
    left: 140px;
    z-index: 5998;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 200px;
    z-index: 5997;
  }
}

@media (max-width: 540px) {
  .interiores-conteudo img {
    max-width: 280px;
  }
  #interiores-img1 {
    position: absolute;
    top: 300px;
    left: 60px;
    z-index: 5999;
  }

  #interiores-img2 {
    position: absolute;
    top: 80px;
    left: 120px;
    z-index: 5998;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 180px;
    z-index: 5997;
  }
}

@media (max-width: 480px) {
  .interiores-conteudo span {
    left: 5%;
    top: 40%;
    font-size: 3.5rem;
    padding: 16px 58px;
  }

  .interiores-conteudo img {
    max-width: 280px;
  }

  #interiores-img1 {
    position: absolute;
    top: 300px;
    left: 40px;
    z-index: 5999;
  }

  #interiores-img2 {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 5998;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 120px;
    z-index: 5997;
  }
}

@media (max-width: 420px) {
  .interiores-conteudo span {
    left: 8%;
    top: 45%;
    font-size: 3.5rem;
    padding: 8px 40px;
  }

  .interiores-conteudo img {
    max-width: 280px;
  }

  #interiores-img1 {
    position: absolute;
    top: 300px;
    left: 48px;
    z-index: 5999;
  }

  #interiores-img2 {
    position: absolute;
    top: 80px;
    left: 78px;
    z-index: 5998;
  }

  #interiores-img3 {
    position: absolute;
    top: 370px;
    left: 100px;
    z-index: 5997;
  }
}
