.referencia-conteudo{
  padding-top: 80px;
}

.referencia-lista{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  justify-items: center;
}

.referencia-lista img,
.referencia-lista3 img{
  border-radius: 12px;
}

.referencia-lista img:hover,
.referencia-lista2 img:hover,
.referencia-lista3 img:hover{
  box-shadow: 0px 0px 11px 2px #000;
}

.referencia-2bg{
  background-color: #DBD8D3;
}

.referencia-4bg{
  background-color: #C3BEB6;
}

.referencia-conteudo2{
  padding-top: 80px;
}

.referencia-lista2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
}


.referencia-conteudo2 #ref-1{
  border-radius: 12px;

}

.referencia-conteudo2 #ref-2{
  margin-bottom: 30px;
}

@media(max-width:800px){
  .referencia-lista,
  .referencia-lista2{
    grid-template-columns: 1fr;
  }
  
}

