.contato-bg {
}

.contato-container {
  margin: 0 auto;
  max-width: 1200px;
  gap: 40px;
  padding: 40px 20px 80px 20px;
}

.contato-conteudo-page h1 {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  padding-bottom: 0px;
}

.contato-conteudo-page-2 h1{
  padding-bottom: 0px;
}

.contato-conteudo-page p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 40px;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-2 #nome {
  width: 560px;
}

.formulario-2 #mensagem {
  width: 560px;
}

.formulario-coluna-2 input {
  width: 278px;
}

@media (max-width: 940px) {
  .formulario-2 {
    padding-top: 0px;
  }
  .contato-grid {
    grid-template-columns: 1fr;
  }

  .parafrago-numero{
    margin-bottom: 100px;
  }

}

@media (max-width: 630px) {
  .formulario-2 #nome {
    width: 460px;
  }

  .formulario-2 #mensagem {
    width: 460px;
  }

  .formulario-coluna-2 input {
    width: 227px;
  }
}

@media (max-width: 520px) {
  .formulario-2 #nome {
    width: 345px;
  }

  .formulario-2 #mensagem {
    width: 345px;
  }

  .formulario-coluna-2 {
    display: grid;
    align-content: space-evenly;
    justify-content: center;
  }

  .formulario-coluna-2 input {
    width: 345px;
  }
}
