.footer-bg{
  background-color: #48332A;
}


.footer-conteudo .detalhe{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 2.5rem;
  font-weight: 300;
  display: block;
  background-color: #6D5C55;
  padding: 22px;
  margin-bottom: 68px;
}

.footer-conteudo ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
  justify-items: center;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0px 20px
}

.footer-conteudo ul li:hover{
  color: rgb(146, 132, 8);
}

.footer-conteudo .creditos{
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  padding: 20px 20px;
}

@media (max-width:550px){
  .footer-conteudo ul{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-conteudo .detalhe{
    font-size: 2.3rem;
  }
}

@media (max-width:450px){
  .footer-conteudo .detalhe{
    font-size: 1.6rem;
    letter-spacing: 6px;
  }
}