.footer-bg{
  background-color: #48332A;
}

.footer-conteudo{
  padding: 40px 20px;
}

.footer-conteudo ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
  justify-items: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.footer-conteudo ul li:hover{
  color: rgb(146, 132, 8);
}

.footer-conteudo .creditos{
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
}

@media (max-width:550px){
  .footer-conteudo ul{
    grid-template-columns: 1fr;
    text-align: center;
  }
}