* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 20px 80px 20px;
}

.btn{
  cursor: pointer;
  padding: 12px 36px;
  font-size: 1.1rem;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: var(--cor-6);
  border: 1px solid var(--cor-0);
}

.btn:hover{
  background-color: var(--cor-6);
}