.sobre-nos-bg{

}

.sobre-nos-container{
  margin: 0 auto;
  max-width: 1000px;
  padding: 220px 20px 80px 20px;
}

.sobre-nos-conteudo h1{
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 60px;
  color: var(--cor-6);
}

.sobre-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.sobre-grid p{
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 40px;
  color: var(--cor-6);
}

@media(max-width:850px){
  .sobre-grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}